---
import Layout from "../layouts/Layout.astro";
---


<Layout>
    <div class="flex flex-col min-h-screen bg-gradient-to-br from-purple-200 to-gray-100 p-4">
        <div class="flex flex-1 gap-4">
            <div class="w-1/2 bg-white rounded-lg shadow-md flex items-center justify-center">
            </div>
            <div class="w-1/2 bg-[#2d186a] rounded-lg shadow-md">
                
            </div>
        </div>
        <div class="p-6 bg-[#6c5ce7] rounded-lg mt-4 flex items-center justify-center">
            <textarea name="prompt" id="prompt" class="w-full text-white h-full p-4 rounded-lg resize-none focus:outline-none" placeholder="Enter your prompt here..."></textarea>
        </div>
    </div>
</Layout>
