---
import "../styles/global.css";
import { ui } from "../i18n/ui.js";

// Récupération de la locale actuelle (par défaut 'fr')
const locale = (Astro.locals.lang as "en" | "fr") ?? "fr";
---

<!doctype html>
<html lang={locale} data-theme="light" class="h-full">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>SVG Generator</title>
    </head>
    <body class="h-full">
        <div class="h-full flex flex-col min-h-0">
            <!-- Header avec sélecteur de langue -->
            <header class="bg-white shadow-sm border-b">
                <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
                    <div class="flex justify-between items-center h-16">
                        <div class="flex items-center">
                            <h1 class="text-xl font-semibold text-gray-900">
                                SVG Generator
                            </h1>
                        </div>
                        <div class="flex">
                            <a href="/login" class="btn btn-secondary mr-5">Connexion</a>
                            <form
                                method="POST"
                                action="/api/logout"
                                class="m-0 pr-5"
                            >
                                <button type="submit" class="btn btn-primary"
                                    >Logout</button
                                >
                            </form>
                            <!-- Sélecteur de langue -->
                            <form method="POST" action={Astro.url.pathname}>
                                <select
                                    name="language"
                                    class="select select-bordered"
                                    onchange="this.form.submit()"
                                >
                                    <option disabled selected={!locale}
                                        >{ui[locale].nav.language}</option
                                    >
                                    <option value="en" selected={locale === "en"}
                                        >English</option
                                    >
                                    <option value="fr" selected={locale === "fr"}
                                        >Français</option
                                    >
                                </select>
                            </form>
                        </div>
                    </div>
                </div>
            </header>

            <div class="flex-1 min-h-0">
                <slot />
            </div>
        </div>
    </body>
</html>
